@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";
@namespace xml "http://www.w3.org/XML/1998/namespace";

/* Italicize foreign language blockquotes, but not those marked <i> */
blockquote[xml|lang]{
	font-style: italic;
}

blockquote[xml|lang] i{
	font-style: normal;
}

/* BC / AD style */
abbr.era{
	font-variant: all-small-caps;
}

/* Poetry CSS */
[epub|type~="z3998:verse"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:verse"] p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

[epub|type~="z3998:verse"] p > span + br{
	display: none;
}

p span.i1{
	padding-left: 2em;
	text-indent: -1em;
}

/* All dedications */
section[epub|type~="dedication"]{
	text-align: center;
}

section[epub|type~="dedication"] > *{
	display: inline-block;
	margin: auto;
	margin-top: 3em;
	max-width: 80%;
	text-align: center;
}

@supports(display: flex){
	section[epub|type~="dedication"]{
		align-items: center;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		justify-content: center;
		min-height: calc(98vh - 3em);
		padding-top: 3em;
	}

	section[epub|type~="dedication"] > *{
		margin: 0;
	}
}
/* End all dedications */

/* For the date table */
table{
	border-collapse: collapse;
	margin: 1em;
}

table td{
	padding-right: .25em;
}

table td:first-child{
	text-align: center;
}

table td + td{
	border-left: 1px solid;
	padding-left: .25em;
}
